@import '../../index.scss';

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; /* Alignement vertical des enfants */
	margin: 45px auto 38px;
	max-width: 1240px;
	width: 95%;

	@include media-mobile($breakpoint-mobile) {
		margin: 20px 19px 19px 19px;
		width: inherit;
	}

	&__logo {
		width: 210px;

		@include media-mobile($breakpoint-mobile) {
			width: 145px;
		}
	}

	&__link {
		display: flex;
		flex-direction: row;
		font-size: 24px;
		margin: 0;
		list-style: none;

		@include media-mobile($breakpoint-mobile) {
			font-size: 12px;
			text-transform: uppercase;
			padding-left: 0;
		}
	}

	&__link--style {
		margin-left: 57px;
		text-decoration: none;
		color: $main-color;

		@include media-mobile($breakpoint-mobile) {
			margin-left: 26px;
		}

		&:hover {
			text-decoration: underline;
		}

		&:focus {
			text-decoration: underline;
		}
	}
}
