@import '../../index.scss';

.error {
	text-align: center;
	margin-bottom: 139px;
	margin-top: 139px;

	@include media-mobile($breakpoint-mobile) {
		margin-bottom: 113px;
		margin-top: 113px;
	}

	&__title {
		font-size: 288px;
		color: $red-color;
		margin: 0;
		padding-bottom: 139px;

		@include media-transition($breakpoint-mobile, $breakpoint-transition) {
			font-size: 192px;
		}

		@include media-mobile($breakpoint-mobile) {
			font-size: 96px;
			padding-bottom: 113px;
		}
	}

	&__subtitle {
		font-size: 36px;
		color: $red-color;
		margin: 0;
		padding-bottom: 139px;

		@include media-transition($breakpoint-mobile, $breakpoint-transition) {
			font-size: 27px;
		}

		@include media-mobile($breakpoint-mobile) {
			font-size: 18px;
			padding-bottom: 113px;
		}
	}

	&__redirection {
		font-size: 18px;
		color: $main-color;

		@include media-transition($breakpoint-mobile, $breakpoint-transition) {
			font-size: 16px;
		}

		@include media-mobile($breakpoint-mobile) {
			font-size: 14px;
		}
	}
}
