$main-color: black;
$second-color: white;
$grey-color: #f6f6f6;
$red-color: rgba(255, 96, 96, 1);
$dark-overlay: darken(rgba(0, 0, 0, 0.6), 20%);
$grey-overlay: darken(rgba(0, 0, 0, 0.2), 20%);
$light-grey: #f6f6f673;
$mid-grey: #e3e3e3;

$breakpoint-mobile: 768px;
$breakpoint-transition: 900px;

//Mixin pour media query pour écran inférieur ou égal au breakpoint
@mixin media-mobile($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

//Mixin pour media query pour écran entre breakpoint min et max
@mixin media-transition($min, $max) {
	@media screen and (min-width: $min) and (max-width: $max) {
		@content;
	}
}

body {
	font-family: 'Montserrat';
	font-size: 18px;
	max-width: 1440px;
	min-width: 375px;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
}

h1 {
	color: $red-color;
	font-size: 36px;
}

h2 {
	color: $red-color;
	font-weight: 500;
	font-size: 36px;

	@include media-mobile($breakpoint-mobile) {
		font-size: 18px;
	}
}

h3 {
	margin: 0; // Supprime les marges par défaut
	font-size: inherit; // Inhère la taille définie globalement (24px ici)

	@include media-mobile($breakpoint-mobile) {
		font-weight: 600;
	}
}

.main {
	margin-right: 20px;
	margin-left: 20px;
}

a {
	width: inherit;
	height: inherit;
}
