@import '../../index.scss';

.banner {
	width: 100%;
	max-width: 1240px;
	height: 223px;
	margin: auto;
	margin-bottom: 43px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;

	@include media-mobile($breakpoint-mobile) {
		height: 111px;
		text-align: left;
		margin-bottom: 22px;
		width: inherit;
		border-radius: 10px;
	}

	&__title {
		color: $second-color;
		position: absolute;
		z-index: 1;
		font-size: 48px;

		@include media-mobile($breakpoint-mobile) {
			font-size: 24px;
			width: 225px;
			height: 48px;
			top: 10px;
			left: 16px;
		}
	}

	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: inherit;
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		margin: auto;
		border-radius: inherit;
		background-color: $dark-overlay;
		border-radius: inherit;
	}
}
