@import '../../index.scss';

.all-collapse {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin-bottom: 38px;

	@include media-mobile($breakpoint) {
		width: 335px;
		margin: auto;
		gap: 20px;
		margin-bottom: 19px;
	}
}
